#**Projeto de Encerramento do Módulo 04 - Grupo 08**
##Análise exploratória relacionada à série histórica de preço de venda da gasolina e do etanol

**Fonte de Dados Utilizada** 

*   Portal Brasileiro de Dados Abertos - https://dados.gov.br/anp
*   Base de Dados da Agência Nacional do Petróleo, Gás Natural e Biocombustíveis - ANP referente aos meses de junho e julho de 2021 contendo a série histórica dos preços da gasolina e do etanol em todo o Brasil disponíveis no portal

# **1. O que é ANP?**

Agência Nacional do Petróleo, Gás Natural e Biocombustíveis (ANP), é o órgão regulador das atividades que integram as indústrias de petróleo e gás natural e de biocombustíveis no Brasil.

##**1.1 Modelo de negócio**

##**1.2 Objetivo da análise**

##**2. Conhecendo os dados que serão analisados**
Nesta parte vamos conhecer melhor os bancos de dados que serão analisados.

##**2.2 Série histórica**
Uma série histórica é uma seqüência de dados obtidos em intervalos regulares de tempo durante um período específico. 
Para essa análise exploratória, assim como solicitado pelo cliente, vamos utilizar as séries de junho e julho de 2021 do preço de venda de gasolina e etanol no Brasil.
Esses dados estão disponíveis no Portal Brasileiro de Dados Abertos - https://dados.gov.br/anp.

##**2.3 Importando Base de Dados**
Carregando os pacotes do Python necessários à execução do projeto.

In [44]:
# Bibliotecas Pandas e Numpy
import pandas as pd
import numpy as np

In [45]:
# Importando bibliotecas de plotagem Seaborn e Matplotlib
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt

##**Base de dados junho de 2021**

In [46]:
# Carregando o dataset com informações: junho 2021.

junho_21 = pd.read_csv ('https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/arquivos/shpc/dsan/2021/2021-06-gasolina-etanol.csv', sep = ';')
junho_21.head()

  Região - Sigla Estado - Sigla  ... Unidade de Medida                      Bandeira
0              N             AC  ...        R$ / litro  PETROBRAS DISTRIBUIDORA S.A.
1              N             AC  ...        R$ / litro  PETROBRAS DISTRIBUIDORA S.A.
2              N             AC  ...        R$ / litro  PETROBRAS DISTRIBUIDORA S.A.
3              N             AC  ...        R$ / litro  PETROBRAS DISTRIBUIDORA S.A.
4              N             AC  ...        R$ / litro                        BRANCA

[5 rows x 16 columns]

In [48]:
# Conhecendo o formato do dataset 1.

junho_21.shape

(49737, 16)

##**Base de dados julho de 2021**

In [47]:
# Carregando o dataset com informações: julho 2021.

julho_21 = pd.read_csv ('https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/arquivos/shpc/dsan/2021/2021-07-gasolina-etanol.csv', sep = ';')
julho_21.head()

  Região - Sigla Estado - Sigla  ... Unidade de Medida                      Bandeira
0             NE             CE  ...        R$ / litro                      IPIRANGA
1             NE             CE  ...        R$ / litro                      IPIRANGA
2             NE             CE  ...        R$ / litro                      IPIRANGA
3             NE             CE  ...        R$ / litro  PETROBRAS DISTRIBUIDORA S.A.
4             NE             CE  ...        R$ / litro  PETROBRAS DISTRIBUIDORA S.A.

[5 rows x 16 columns]

In [49]:
# Conhecendo o formato do dataset 2

julho_21.shape

(47849, 16)

## Concatenando as tabelas para organizar o dataframe

In [50]:
#utilizamos concat para unir as duas tabelas

tabela_completa = pd.concat([junho_21, julho_21])
tabela_completa.head()

  Região - Sigla Estado - Sigla  ... Unidade de Medida                      Bandeira
0              N             AC  ...        R$ / litro  PETROBRAS DISTRIBUIDORA S.A.
1              N             AC  ...        R$ / litro  PETROBRAS DISTRIBUIDORA S.A.
2              N             AC  ...        R$ / litro  PETROBRAS DISTRIBUIDORA S.A.
3              N             AC  ...        R$ / litro  PETROBRAS DISTRIBUIDORA S.A.
4              N             AC  ...        R$ / litro                        BRANCA

[5 rows x 16 columns]

In [51]:
#correção do valor dos indices
tabela_completa.index=range(97586)

In [53]:
# Criando uma cópia do dataset concatenado

dados = tabela_completa.copy()
dados.head()

  Região - Sigla Estado - Sigla  ... Unidade de Medida                      Bandeira
0              N             AC  ...        R$ / litro  PETROBRAS DISTRIBUIDORA S.A.
1              N             AC  ...        R$ / litro  PETROBRAS DISTRIBUIDORA S.A.
2              N             AC  ...        R$ / litro  PETROBRAS DISTRIBUIDORA S.A.
3              N             AC  ...        R$ / litro  PETROBRAS DISTRIBUIDORA S.A.
4              N             AC  ...        R$ / litro                        BRANCA

[5 rows x 16 columns]

#**Análise Exploratória e limpeza/correção de dados**

In [52]:
# Cálculo do percentual de dados faltantes do Dataset.

(tabela_completa.isnull().sum() / tabela_completa.shape[0]).sort_values(ascending=False)

Valor de Compra      1.000000
Complemento          0.798014
Bairro               0.002654
Número Rua           0.000584
Região - Sigla       0.000000
Estado - Sigla       0.000000
Município            0.000000
Revenda              0.000000
CNPJ da Revenda      0.000000
Nome da Rua          0.000000
Cep                  0.000000
Produto              0.000000
Data da Coleta       0.000000
Valor de Venda       0.000000
Unidade de Medida    0.000000
Bandeira             0.000000
dtype: float64

In [54]:
# Retirando colunas que aparecem sem valores ou que não serão considerados para a análise neste primeiro momento

dados.drop(['Nome da Rua','Número Rua','Complemento','Bairro','Cep','Valor de Compra'],axis='columns', inplace = True)
dados

      Região - Sigla  ...                      Bandeira
0                  N  ...  PETROBRAS DISTRIBUIDORA S.A.
1                  N  ...  PETROBRAS DISTRIBUIDORA S.A.
2                  N  ...  PETROBRAS DISTRIBUIDORA S.A.
3                  N  ...  PETROBRAS DISTRIBUIDORA S.A.
4                  N  ...                        BRANCA
...              ...  ...                           ...
97581             SE  ...                        BRANCA
97582             SE  ...                        BRANCA
97583             SE  ...                        BRANCA
97584             SE  ...                    RIO BRANCO
97585             SE  ...                    RIO BRANCO

[97586 rows x 10 columns]

In [55]:
# Conhecendo o formato da cópia do dataset concatenado

dados.shape # retorna uma tupla ( numero de linhas, numero de variaveis)

(97586, 10)

In [57]:
# Conhecendo as varíaveis e seus tipos.

display(dados.dtypes)

Região - Sigla       object
Estado - Sigla       object
Município            object
Revenda              object
CNPJ da Revenda      object
Produto              object
Data da Coleta       object
Valor de Venda       object
Unidade de Medida    object
Bandeira             object
dtype: object

In [56]:
# Tipo de estrutura de dados
type(dados)

pandas.core.frame.DataFrame

In [58]:
 #para obter mais informações do seu dataframe
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97586 entries, 0 to 97585
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Região - Sigla     97586 non-null  object
 1   Estado - Sigla     97586 non-null  object
 2   Município          97586 non-null  object
 3   Revenda            97586 non-null  object
 4   CNPJ da Revenda    97586 non-null  object
 5   Produto            97586 non-null  object
 6   Data da Coleta     97586 non-null  object
 7   Valor de Venda     97586 non-null  object
 8   Unidade de Medida  97586 non-null  object
 9   Bandeira           97586 non-null  object
dtypes: object(10)
memory usage: 7.4+ MB

In [59]:
dados.describe() #para ver um descrição mais detalhada

       Região - Sigla Estado - Sigla  ... Unidade de Medida Bandeira
count           97586          97586  ...             97586    97586
unique              5             27  ...                 1       50
top                SE             SP  ...        R$ / litro   BRANCA
freq            50220          34677  ...             97586    35927

[4 rows x 10 columns]

In [60]:
# convertendo data da coleta para padrão datetime

dados ['Data da Coleta'] = pd.to_datetime(dados['Data da Coleta'])
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97586 entries, 0 to 97585
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Região - Sigla     97586 non-null  object
 1   Estado - Sigla     97586 non-null  object
 2   Município          97586 non-null  object
 3   Revenda            97586 non-null  object
 4   CNPJ da Revenda    97586 non-null  object
 5   Produto            97586 non-null  object
 6   Data da Coleta     97586 non-null  datetime64[ns]
 7   Valor de Venda     97586 non-null  object
 8   Unidade de Medida  97586 non-null  object
 9   Bandeira           97586 non-null  object
dtypes: datetime64[ns](1), object(9)
memory usage: 7.4+ MB

In [61]:
#Transformando os dados da coluna "Valor de Venda" em float
julho_21['Valor de Venda'] = julho_21['Valor de Venda'].apply(lambda x:str(x).replace(",","."))
julho_21['Valor de Venda'] = julho_21['Valor de Venda'].astype('float64')
junho_21['Valor de Venda'] = julho_21['Valor de Venda'].apply(lambda x:str(x).replace(",","."))
junho_21['Valor de Venda'] = julho_21['Valor de Venda'].astype('float64')
dados['Valor de Venda'] = dados['Valor de Venda'].apply(lambda x:str(x).replace(",","."))
dados['Valor de Venda'] = dados['Valor de Venda'].astype('float64')


# Criando tabelas pra cada um dos produtos

In [85]:
aux= (dados['Produto'] == 'GASOLINA').copy()
gasolina = dados[aux]
aux1= (dados['Produto'] == 'GASOLINA ADITIVADA').copy()
gasolina_ad = dados[aux1]
aux2= (dados['Produto'] == 'ETANOL').copy()
etanol = dados[aux2]

#**Análise dos dados a partir das questões solicitadas**

#Análise I
####Comportamento do preço dos combustíveis

## Preços da **GASOLINA**

In [63]:
aux= (junho_21['Produto'] == 'GASOLINA').copy()
gasolina_junho = junho_21[aux]
valores_julho = gasolina_junho.groupby('Estado - Sigla').agg({'Valor de Venda': ['mean', 'min', 'max']}).copy()
valores_julho

               Valor de Venda
                         mean    min    max
Estado - Sigla
AC                   5.307086  3.899  6.599
AL                   5.456191  3.880  6.599
AM                   5.405871  3.749  6.899
AP                   5.240450  3.799  6.359
BA                   5.328036  3.559  6.999
CE                   5.444715  3.699  6.980
DF                   5.364969  3.799  6.839
ES                   5.388721  3.799  6.999
GO                   5.429229  3.758  6.889
MA                   5.430023  3.869  6.999
MG                   5.463483  3.599  6.999
MS                   5.453378  3.779  6.969
MT                   5.489246  3.539  6.999
PA                   5.449028  3.799  6.869
PB                   5.447895  3.687  6.499
PE                   5.488312  3.689  6.999
PI                   5.440179  3.859  6.980
PR                   5.522486  3.689  7.097
RJ                   5.441789  3.699  6.999
RN                   5.460938  3.899  6.947
RO                   5.430152  3.879  6.659
RR                   5.321907  3.879  6.499
RS                   5.458319  3.779  6.980
SC                   5.461093  3.699  7.069
SE                   5.426606  3.899  6.999
SP                   5.415525  3.299  7.097
TO                   5.453159  3.890  7.077

In [64]:
aux= (julho_21['Produto'] == 'GASOLINA').copy()
gasolina_julho = julho_21[aux]
valores_junho = gasolina_julho.groupby('Estado - Sigla').agg({'Valor de Venda': ['mean', 'min', 'max']}).copy()
valores_junho

               Valor de Venda
                         mean    min    max
Estado - Sigla
AC                   6.461114  6.090  6.990
AL                   6.045616  5.599  6.599
AM                   5.792544  5.570  6.050
AP                   5.031064  4.870  5.280
BA                   6.010175  4.990  6.489
CE                   5.853862  5.370  6.350
DF                   5.989978  5.499  6.299
ES                   5.958947  5.679  6.905
GO                   6.116897  5.469  6.650
MA                   5.682981  5.369  5.999
MG                   6.066431  5.660  6.599
MS                   5.880557  5.499  6.330
MT                   5.932609  5.399  6.537
PA                   6.010303  5.330  6.659
PB                   5.561431  5.379  5.930
PE                   5.886790  5.480  6.429
PI                   6.222752  5.090  6.499
PR                   5.575939  5.049  6.350
RJ                   6.348966  5.749  6.960
RN                   6.299512  5.990  6.499
RO                   5.947562  5.381  6.340
RR                   5.474615  5.340  5.650
RS                   6.082887  5.198  6.999
SC                   5.528591  5.119  5.978
SE                   5.811832  5.549  5.989
SP                   5.503317  4.549  6.499
TO                   5.966264  5.450  6.230

## Preços da **GASOLINA ADITIVADA**

In [65]:
aux= (junho_21['Produto'] == 'GASOLINA ADITIVADA').copy()
gasolina_ad_junho = junho_21[aux]
valores_junho = gasolina_ad_junho.groupby('Estado - Sigla').agg({'Valor de Venda': ['mean', 'min', 'max']}).copy()
valores_junho

               Valor de Venda
                         mean    min    max
Estado - Sigla
AC                   5.277496  3.839  6.799
AL                   5.522252  3.775  6.539
AM                   5.483335  3.749  6.799
AP                   5.320833  4.149  5.990
BA                   5.356332  3.799  6.999
CE                   5.412527  3.769  6.999
DF                   5.322091  3.859  6.999
ES                   5.388104  3.599  6.999
GO                   5.342745  3.699  6.889
MA                   5.385136  3.759  6.569
MG                   5.433585  3.699  7.097
MS                   5.467775  3.799  6.934
MT                   5.545973  3.889  6.799
PA                   5.416867  3.879  6.899
PB                   5.536194  3.899  6.755
PE                   5.395533  3.759  6.999
PI                   5.462770  3.877  6.499
PR                   5.564803  3.699  6.999
RJ                   5.476238  3.699  6.990
RN                   5.350901  3.729  6.980
RO                   5.470650  3.799  6.699
RR                   5.394561  3.787  6.299
RS                   5.462247  3.699  7.097
SC                   5.492626  3.789  7.077
SE                   5.493017  3.679  6.679
SP                   5.417459  3.189  7.097
TO                   5.513769  3.689  6.890

In [66]:
aux= (julho_21['Produto'] == 'GASOLINA ADITIVADA').copy()
gasolina_ad_julho = julho_21[aux]
valores_julho = gasolina_ad_julho.groupby('Estado - Sigla').agg({'Valor de Venda': ['mean', 'min', 'max']}).copy()
valores_julho

               Valor de Venda
                         mean    min    max
Estado - Sigla
AC                   6.433573  6.240  6.980
AL                   6.156356  5.699  6.797
AM                   5.811241  4.690  6.100
AP                   5.348182  5.180  5.450
BA                   6.101978  5.610  6.699
CE                   5.985712  5.440  6.490
DF                   6.071387  5.559  6.679
ES                   6.067089  5.680  6.729
GO                   6.189861  5.759  6.750
MA                   5.823272  5.369  6.199
MG                   6.191765  5.750  6.798
MS                   6.004900  5.559  6.410
MT                   6.046560  5.555  6.430
PA                   6.136132  4.950  6.879
PB                   5.715044  5.399  6.080
PE                   6.039711  5.499  6.599
PI                   6.427345  5.999  6.899
PR                   5.711849  5.199  6.690
RJ                   6.466781  5.489  6.999
RN                   6.353947  6.000  6.709
RO                   6.034488  5.499  6.410
RR                   5.585000  5.390  5.840
RS                   6.204601  5.649  7.097
SC                   5.624367  5.139  6.689
SE                   5.915784  5.629  6.289
SP                   5.669845  4.859  6.999
TO                   6.067345  5.699  6.330

## Preços do **ETANOL**

In [67]:
aux= (junho_21['Produto'] == 'ETANOL').copy()
etanol_junho = junho_21[aux]
valores_junho = etanol_junho.groupby('Estado - Sigla').agg({'Valor de Venda': ['mean', 'min', 'max']}).copy()
valores_junho

               Valor de Venda
                         mean    min    max
Estado - Sigla
AC                   5.286602  3.897  6.559
AL                   5.392187  3.739  6.649
AM                   5.495853  3.799  6.970
AP                   5.639333  4.990  6.099
BA                   5.309751  3.557  7.096
CE                   5.413703  3.649  6.990
DF                   5.358872  3.899  6.969
ES                   5.386698  3.798  6.899
GO                   5.403983  3.699  6.999
MA                   5.321647  3.739  6.699
MG                   5.470222  3.739  6.999
MS                   5.548040  3.839  6.708
MT                   5.432980  3.659  6.699
PA                   5.361841  3.799  6.699
PB                   5.288788  3.689  6.699
PE                   5.381162  3.739  6.934
PI                   5.429918  3.849  6.980
PR                   5.475084  3.679  6.999
RJ                   5.417640  3.739  6.890
RN                   5.466896  3.799  6.969
RO                   5.306895  3.879  6.709
RR                   5.386917  3.999  5.999
RS                   5.420231  3.849  6.947
SC                   5.437650  3.559  6.999
SE                   5.523879  3.899  6.490
SP                   5.438435  3.659  7.097
TO                   5.538273  3.849  6.839

In [68]:
aux= (julho_21['Produto'] == 'ETANOL').copy()
etanol_junho = julho_21[aux]
valores_junho = etanol_junho.groupby('Estado - Sigla').agg({'Valor de Venda': ['mean', 'min', 'max']}).copy()
valores_junho

               Valor de Venda
                         mean    min    max
Estado - Sigla
AC                   5.547905  5.170  6.540
AL                   5.261673  4.799  5.879
AM                   4.587947  4.390  4.990
AP                   5.460000  5.380  5.540
BA                   4.975863  3.999  5.519
CE                   5.238522  4.349  5.800
DF                   4.944393  4.489  5.999
ES                   5.139371  4.490  5.669
GO                   4.480137  3.979  4.990
MA                   4.999539  4.599  5.399
MG                   4.410611  3.849  5.363
MS                   4.567303  4.179  5.189
MT                   4.117562  3.669  4.747
PA                   5.398848  4.960  6.140
PB                   4.935141  4.699  5.469
PE                   5.137981  4.450  5.990
PI                   5.116871  4.849  5.599
PR                   4.352129  3.949  5.499
RJ                   5.277071  4.199  6.799
RN                   5.525255  4.289  5.749
RO                   5.203663  4.790  5.790
RR                   4.953333  4.750  5.060
RS                   5.830596  4.539  6.999
SC                   5.027779  4.186  5.749
SE                   5.161212  4.879  5.340
SP                   4.110622  3.189  5.599
TO                   5.113550  4.690  5.949

#Análise II (Carla/Reinaldo)
####Preço médio da gasolina e do etanol

1. criar a função para ...
2. Converter o tipo de Dados da Coluna "Valor de Venda' para float usando .astype()
3. Criar um novo DataFrame apenas com as colunas 'Produto' e 'Valor de Venda'
4. Calcular a média do 'Valor de Venda' usando .mean() e agrupar os resultados por produto usando groupby()
5. Renomear a coluna 'Valor de Venda' usando rename() e reduzir o número de casas decimais da média usando .round()

In [69]:
media_produtos_aux1 = dados[['Produto','Valor de Venda']] 
media_produtos_aux2 = media_produtos_aux1.groupby(['Produto']).mean() 
media_produtos = media_produtos_aux2.rename(columns={'Valor de Venda':'Preço Médio'}).round(2)
media_produtos

                    Preço Médio
Produto
ETANOL                     4.58
GASOLINA                   5.73
GASOLINA ADITIVADA         5.88

#Análise III
####Estados com o preço médio da gasolina e do etanol mais caros (Bruno)

In [70]:
gasolina_media_mais_cara = gasolina.groupby('Estado - Sigla').mean().sort_values('Valor de Venda', ascending=False).round(3)
gasolina_media_mais_cara.iloc[[0]]

                Valor de Venda
Estado - Sigla
AC                       6.443

In [86]:

gasolina_media_mais_cara = gasolina_ad.groupby('Estado - Sigla').mean().sort_values('Valor de Venda', ascending=False).round(3)
gasolina_media_mais_cara.iloc[[0]]

                Valor de Venda
Estado - Sigla
AC                       6.424

In [87]:
etanol_media_mais_cara = etanol.groupby('Estado - Sigla').mean().sort_values('Valor de Venda', ascending=False).round(3)
etanol_media_mais_cara.iloc[[0]]

                Valor de Venda
Estado - Sigla
RS                       5.806

#Análise IV 
####Preço médio da gasolina e do etanol por Estado

### Gasolina

In [98]:
gasolina_media_mais_cara = gasolina.groupby('Estado - Sigla').mean().sort_values('Valor de Venda', ascending=False).round(3)
gasolina_media_mais_cara

                Valor de Venda
Estado - Sigla
AC                       6.443
RJ                       6.299
RN                       6.155
PI                       6.108
GO                       6.040
RS                       6.024
MG                       6.015
BA                       5.961
AL                       5.958
TO                       5.934
PA                       5.921
ES                       5.864
DF                       5.854
RO                       5.847
MS                       5.818
MT                       5.811
CE                       5.807
PE                       5.793
SE                       5.690
MA                       5.595
AM                       5.559
PR                       5.524
PB                       5.513
SC                       5.494
SP                       5.462
RR                       5.416
AP                       4.986

### Gasolina Aditivada

In [99]:
gasolina_media_mais_cara = gasolina_ad.groupby('Estado - Sigla').mean().sort_values('Valor de Venda', ascending=False).round(3)
gasolina_media_mais_cara

                Valor de Venda
Estado - Sigla
AC                       6.424
RJ                       6.417
PI                       6.309
RN                       6.211
RS                       6.146
MG                       6.145
GO                       6.122
AL                       6.073
PA                       6.067
BA                       6.053
TO                       6.037
ES                       5.973
MS                       5.949
CE                       5.946
DF                       5.941
PE                       5.935
RO                       5.925
MT                       5.921
SE                       5.794
MA                       5.735
PR                       5.667
PB                       5.662
SP                       5.630
SC                       5.588
AM                       5.580
RR                       5.536
AP                       5.321

### Etanol

In [100]:
etanol_media_mais_cara = etanol.groupby('Estado - Sigla').mean().sort_values('Valor de Venda', ascending=False).round(3)
etanol_media_mais_cara

                Valor de Venda
Estado - Sigla
RS                       5.806
AC                       5.535
RN                       5.525
PA                       5.333
AP                       5.314
RJ                       5.310
CE                       5.204
AL                       5.187
TO                       5.133
ES                       5.101
PE                       5.081
RO                       5.078
PI                       5.061
SE                       5.054
SC                       5.024
MA                       4.964
BA                       4.941
PB                       4.903
DF                       4.884
RR                       4.865
MS                       4.562
GO                       4.461
AM                       4.450
MG                       4.436
PR                       4.355
SP                       4.145
MT                       4.116

#Análise V
####Município que possui o menor preço para a gasolina e para o etanol

In [92]:
gasolina_mais_cara = gasolina.groupby('Município').min().sort_values('Valor de Venda').round(3)
gasolina_mais_cara.iloc[[0], [4,6]]

            Produto  Valor de Venda
Município
SORRISO    GASOLINA           4.398

In [93]:
gasolina_ad_mais_cara = gasolina_ad.groupby('Município').min().sort_values('Valor de Venda').round(3)
gasolina_ad_mais_cara.iloc[[0], [4,6]]

                      Produto  Valor de Venda
Município
COTIA      GASOLINA ADITIVADA           4.199

In [94]:
etanol_mais_caro = etanol.groupby('Município').min().sort_values('Valor de Venda').round(3)
etanol_mais_caro.iloc[[0], [4,6]]

                      Produto  Valor de Venda
Município
SANTA BARBARA D'OESTE  ETANOL           3.097

#Análise VI
####Município que possui o maior preço para a gasolina e para o etanol (Bruno)

In [95]:
gasolina_mais_cara = gasolina.groupby('Município').max().sort_values('Valor de Venda', ascending=False)
gasolina_mais_cara.iloc[[0], [4,6]]

            Produto  Valor de Venda
Município
BAGE       GASOLINA           6.999

In [96]:
gasolina_ad_mais_cara = gasolina_ad.groupby('Município').max().sort_values('Valor de Venda', ascending=False)
gasolina_ad_mais_cara.iloc[[0], [4,6]]

                      Produto  Valor de Venda
Município
BAGE       GASOLINA ADITIVADA           7.097

In [97]:
etanol_mais_caro = etanol.groupby('Município').max().sort_values('Valor de Venda', ascending=False)
etanol_mais_caro.iloc[[0], [4,6]]

          Produto  Valor de Venda
Município
PELOTAS    ETANOL           6.999

#Análise VII (Carla)
####Região que possui o maior valor médio da gasolina

1. Foi criado um novo Dataframe a partir da filtragem de dados do Dataframe original 
2. Foi criado um novo Dataframe apenas com as colunas 'Região-Sigla' e 'Valor de Venda' onde foi calculado a média de 'Valor de Venda' usando .mean() e o resultado foi agrupado por 'Regiaão-Sigla' e ordenado em ordem decrescente de valor .sort_values()
3. A coluna 'Valor de Venda' foi renomeada para 'Preço Médio GASOLINA' com renama() e o valor da média foi arrendondado para duas casas decimais . round(2)
4. Para exibir somente a Região com o maior preço médio da gasolina foi utilizado .head(1)

In [82]:
gasolina_aux1= (dados['Produto'] == 'GASOLINA') | (dados['Produto'] == 'GASOLINA ADITIVADA')
gasolina = dados[gasolina_aux1]

In [83]:
maior_vlr_medio_aux1 = gasolina[['Região - Sigla','Valor de Venda']].groupby('Região - Sigla').mean().sort_values('Valor de Venda', ascending=False)
maior_vlr_medio_regiao = maior_vlr_medio_aux1 .rename(columns={'Valor de Venda':'Preço Médio GASOLINA'}).round(2)
maior_vlr_medio_regiao.head(1)

                Preço Médio GASOLINA
Região - Sigla
CO                              5.93

#Análise VIII(Carla)
####Região que possui o menor valor médio do etanol

1. Foi criado um novo Dataframe a partir da filtragem de dados do Dataframe original usando .contains()
2.Foi calculado a média de 'Valor de Venda' usando .mean() e o resultado agrupado por 'Região-Sigla' e 'Produto' e ordenado em ordem crescente de valor .sort_values() com o arredondamento para duas casas decimais . round()
3. A coluna 'Valor de Venda' foi renomeada para 'Preço Médio' com renama() 
4. Para exibir somente a Região com o menor preço médio do etanol foi utilizado .head(1)

In [84]:
etanol_aux= dados[dados['Produto'].str.contains('ETANOL')].groupby(['Região - Sigla', 'Produto']).mean().sort_values('Valor de Venda', ascending=True).round(2)
menor_vlr_medio_etanol_regiao = etanol_aux.rename(columns={'Valor de Venda':'Preço Médio '}).head(1)
menor_vlr_medio_etanol_regiao

                        Preço Médio
Região - Sigla Produto
SE             ETANOL           4.35

#Análise IX
####Valor do combustível X Região
#####Correlação entre o valor do combustível (gasolina e etanol) e região onde ele é vendido

#Análise X
####Valor do combustível X Bandeira
#####Correlação entre o valor do combustível (gasolina e etanol) e a bandeira que vende ele

#Análise Extra | Municípios com maior número de unidades

In [109]:
municipios_com_mais_postos = gasolina.groupby('Município').count().sort_values('Valor de Venda', ascending = False).round(3)
municipios_com_mais_postos.drop(["Estado - Sigla","Revenda","CNPJ da Revenda","Produto","Data da Coleta","Valor de Venda","Unidade de Medida","Bandeira"], axis=1, inplace=True)
municipios_com_mais_postos.columns = ["Número de unidades"]
municipios_com_mais_postos

#Análise Extra |

In [114]:
estados_com_menos_postos = gasolina.groupby('Estado - Sigla').count().sort_values('Valor de Venda').round(3)
estados_com_menos_postos.drop(["Município","Revenda","CNPJ da Revenda","Produto","Data da Coleta","Valor de Venda","Unidade de Medida","Bandeira"], axis=1, inplace=True)
estados_com_menos_postos.columns = ["Número de unidades"]
estados_com_menos_postos.head()

                Número de unidades
Estado - Sigla
RR                             112
AP                             174
TO                             216
SE                             235
AC                             334
AL                             356
PB                             378
MS                             411
DF                             414
AM                             420
RN                             423
PI                             446
RO                             460
MA                             499
PA                             563
ES                             620
MT                            1100
GO                            1119
PE                            1166
CE                            1513
BA                            1669
SC                            1715
PR                            2223
RJ                            2248
RS                            2396
MG                            2906
SP                           12837